<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
		<add name="DefaultConnectionDES2" connectionString="0yBovWQ3HiWzL0g0hysE1PtNoZCPNJ9U2t+iObCyKzUZBy8umc/qUE2mmBm7uiYRw3zpLOUBmSwKOjy9jsiBE72DMOyF7V8F9yDxyY7+u4YrYZ/esqVzeAK48kE7nSSZTW5RedpAphLePGnWg6039/szA92deaDVLC/To/C/Ca8=" providerName="System.Data.SqlClient" />
		<add name="DefaultConnection" connectionString="0yBovWQ3HiWzL0g0hysE1PtNoZCPNJ9U2t+iObCyKzUZBy8umc/qUE2mmBm7uiYRw3zpLOUBmSwKOjy9jsiBE14ieSTGO/A+yZujBaFrVN5zJ6uQz8EkLxWcfX/XCP95/17OGKtgYxK64A9Vb0ABoEkVmXQZ8yYKVhnShsOKPxA=" providerName="System.Data.SqlClient" />
		<add name="DefaultConnectionLocal" connectionString="LA2hki9/K06t7xGxZJgPx3AwZHqLA4rB8QMQmilriruzW5U4Ws9C7t9yDPBPHAaKYfrwR4c0Z//JW2zrxxKfK88qoMIKjwKowoUly8ZWX3zvXrfj3ucbjcVi6OLgklSbOU9miI94V0FuQsETGQBN/nuktUh+GB5KJSwkSSsm5FmTNxvhW0xCnvwqahW6SUzr" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <appSettings>
      <add key="numTH" value="1"/>
      <add key="docsMemory" value="1"/>
      <add key="refreshDocs" value="30000"/>
		<add key="SMTPHost" value="qMS1zxLanhCZT6aTcEKpyoJ/1aMSFBrQwgRo7y2Muzg="/>
		<add key="SMTPPort" value="587"/>
		<add key="SMTPUsername" value="WmVMh9w5owrzz23hygQSTWGIxosaLl3HobwiXP45ejs="/>
		<add key="SMTPPassword" value="CdZDVtx6r74DWDUoCtmeYw=="/>
		<add key="SMTPSSL" value="true"/>
		<!--add key="hosturl" value="https://fsdev.gis.com.mx/portalProv2/"/-->
		<add key="hosturl" value="http://localhost:59179/"/>


		<add key="diasPorConfirmar" value="75"/>
		<add key="horaNotificacion" value="16"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>