<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="DefaultConnection" connectionString="0yBovWQ3HiWzL0g0hysE1PtNoZCPNJ9U2t+iObCyKzUZBy8umc/qUE2mmBm7uiYRw3zpLOUBmSwKOjy9jsiBE14ieSTGO/A+yZujBaFrVN5zJ6uQz8EkLxWcfX/XCP95/17OGKtgYxK64A9Vb0ABoEkVmXQZ8yYKVhnShsOKPxA=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="numTH" value="1" />
    <add key="docsMemory" value="1" />
    <add key="refreshDocs" value="60000" />

	  <add key="SMTPHost" value="qMS1zxLanhCZT6aTcEKpyoJ/1aMSFBrQwgRo7y2Muzg="/>
	  <add key="SMTPPort" value="587"/>
	  <add key="SMTPUsername" value="WmVMh9w5owrzz23hygQSTWGIxosaLl3HobwiXP45ejs="/>
	  <add key="SMTPPassword" value="CdZDVtx6r74DWDUoCtmeYw=="/>
	  <add key="SMTPSSL" value="true"/>
	  <add key="hosturl" value="https://fsdev.gis.com.mx/portalProv2/"/>



	  <add key="diasPorConfirmar" value="75"/>
	  <add key="horaNotificacion" value="8"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>